name: Dawn of the Dragons
port: 3000
mudlib directory: /mnt/home2/dawn/lib
log directory: /mnt/home2/dawn/log
master file: /secure/master.c
simulated efun file: /secure/simul_efun.c
debug log file: /mnt/home2/dawn/log/driver_debug.log
log "driver.log"
maximum array size: 20000
maximum mapping size: 200000
gametick msec: 400
